body{
    background-color: rgb(211, 211, 211);
    background-size: cover;
    
}
.header{
    background-color: #E74C3C;
    width: 100%;
    position: fixed;
    top:0px;
    box-shadow: 5px 5px 20px #898989;
    
}
.container{
    max-width: 960px;
    margin: 0px auto;
    
    
}
.nav_menu{
    
    justify-content: space-between;
    justify-items: center;
    
    
    
}

.imgdev{
    width: 100%;
    height: auto;
}
#ul1_menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
   
}

#ul1_menu .li1{
    color:white ;
    
    padding: 15px 10px;
    font-family: Montserrat;
    font-size: small;
    text-decoration: none;
    position: relative;
    display: block;
}
#ul1_menu .li1:hover {
    background-color: rgb(28, 17, 17);
}

.ul2_menu{
    list-style: none;
    position: absolute;
    box-shadow: 5px 5px 40px #d8d8d8;
    
    width: 270px;
    height: auto;
    padding: 10px 0px;
    display: none;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0 5px 5px;
    
}
#ul1_menu li:hover>.ul2_menu{
    display: block;
    animation: navmenu 1s;
}
.ul2_menu .li2{
    color:white ;
    font-family: Montserrat;
    font-size: small;
    text-decoration: none;
    color: black;
    display: block;
    padding: 6px 0px 6px 15px;
    
     
}
.ul2_menu .li2:hover{
    background-color: rgb(239, 239, 239);
}
#cackhoadaotao{
    position: relative;
}
.div{
    width: 1000px;
    background-color: rgb(255, 255, 255);
    height: 400px;
    
    position: absolute;
    left: 250px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 5px 40px #a1a1a1;
    display: none;
    align-content: center;   
    justify-content: space-around;
    animation: navmenu2 1s;
     
}

li:hover>.div{
    display: block;
    display: flex;
}
.div2{
    
    
    font-family: Montserrat;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    
    margin: 15px;
    justify-content: space-around;
}

.div3{
    flex-wrap: wrap;
    position: relative;
    margin: 10px;
    
    color: #ff2121;
    box-sizing: content-box;
    position: relative;
    
}
#p1{
    position: absolute;
    font-family: Montserrat;
    font-size: 13px;
    color: black;
    font-weight: 400;
}
.div4{
    width: 100px;
    height: 30px;
    
    background-color: #5b5b5b;
    box-shadow: 0px 0px 10px#757575;
    border-radius: 200px 200px;
    position: absolute;
    bottom: 20px;
    left: 0px;
    box-sizing: border-box;
    justify-content: space-around;
    display: flex;
    
}
.div4:hover{
    background-color: #E74C3C;
    box-shadow: 0px 0px 20px#ff7b7b;
}
.div4>a{
    font-family: Montserrat;
    font-size: 13px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    
    align-items: center;
    position: relative;
    margin: auto;
    text-decoration: none;
}

@keyframes navmenu {
    from{
        
        position: absolute;
        bottom: -240px;
        opacity: 0;
    }
    to{
        
        
        bottom: 100%;
        bottom: -190px;
        opacity: 1;
    }

}

@keyframes navmenu2 {
    from{
        
        position: absolute;
        top: 75px;
        opacity: 0;
    }
    to{
        
        
        position: absolute;
        top: 46px;
        opacity: 1;
    }

}

.divselection1{
    
    justify-content: center;
    margin: 100px;
    align-items: center;
    
    
    
}

.cackhoahocchuyende{
    font-family: Montserrat;
    font-size: 30px;
    color: rgb(23, 23, 23);
    font-weight: 400;
    width: 600px;
    
    
    
}

.cackhoahocchuyende:hover{
    color: #E74C3C;
    font-weight: 800;
}
.divselection2{
    
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    margin: 100px;
    background-color: #fcfcfc;
    border-radius: 20px 20px;
    box-shadow: inset 0px 0px 20px #666666;

}

.divselection2 img{
    border-radius: 10px;
    box-shadow: 0px 0px 40px #8a8a8a;
    display: flex;
    margin: auto;
}

.divselection2>img:hover{
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgb(24, 24, 24);
    display: flex;
    margin: auto;
}


